@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@600&display=swap');


* {
    box-sizing: border-box;
}

html {
    scrollbar-3dLight-Color: #ddd;
    scrollbar-arrow-color: #ddd;
    scrollbar-base-color: #eee;
    scrollbar-Face-Color: #f2f2f2;
    scrollbar-Track-Color: #fff;
    scrollbar-DarkShadow-Color: #ddd;
    scrollbar-Highlight-Color: #ddd;
    scrollbar-Shadow-Color: #f2f2f2;
}

html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #ddd;
    -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / 2%);
}

html::-webkit-scrollbar-track {
    -webkit-border-radius: 0;
    border-radius: 0;
}


body {
    background-color: #000;
    color: #fff;
    font-family: "Noto Sans KR", "Montserrat", sans-serif, "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", dotum, sans-serif;

}

body ::-moz-selection {
    background: #090909;
    color: #fff;
    text-shadow: none;
}

body ::selection {
    background: #090909;
    color: #fff;
    text-shadow: none;
}

[lang="ko"] {
    font-family: "Noto Sans KR", "Montserrat", sans-serif, "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", dotum, sans-serif;
}

[lang="en"] {
    font-family: "Montserrat", "Noto Sans KR", sans-serif;
    letter-spacing: 0;
    font-weight: 300;
}

/* font  */
.title-big {
    font-size: 50px;
}

.title {
    font-size: 28px;
}

.title-md {
    font-size: 21px;
    margin: 30px auto;
}

.title-sm {
    font-size: 19px;
    margin: 30px auto;
}

.desc {
    font-size: 19px;
}

.desc-md {
    font-size: 17px;
}

.desc-sm {
    font-size: 16px;
}

.basic {
    font-size: 15px;
}

.basic-md {
    font-size: 14px;
}

.basic-sm {
    font-size: 13px;
}