@charset "utf-8";




input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="tel"] {
  border: 0px;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=url],
input[type=number],
input[type=search],
textarea {
  -webkit-appearance: none;



}


/* 자동완성 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: #fff;
}

input,
textarea,
select {
  font-size: 13px;
  background-color: transparent;
  font-style: normal;
  font-weight: 300;
  border: none;
  border-radius: 0;
  font-size: 100%;
  margin: 0;
  outline: none;
  vertical-align: middle;
  resize: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #000 inset;

  -webkit-text-fill-color: #fff;

}



.contact-list {
  width: 100%;
}

.contact-item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  align-items: center;
}

.contact-item h2 {
  padding-right: 2rem;
  min-width: 100px;
}


.contact-item input {
  width: 100%;
  color: #fff;
  border-bottom: 1px solid #fff;
  height: 50px;
  ;
}

.contact-item textarea {
  border: 1px solid #fff;
  color: #fff;
  width: 100%;
  padding: 1rem;
  min-height: 300px;
}

.contact-item textarea::placeholder {
  padding: 1rem;
}



/*=============문의하기 버튼=============*/

.btn-wrap {
  position: relative;
  text-align: center;
  padding: 3rem 0;

}

.btn-wrap>button {
  color: #fff;
  width: 200px;
  border: 1px solid #eee;
  height: 50px;
  cursor: pointer;
  background: transparent;
}