@charset "utf-8";

#wrap {
    position: relative;
    overflow: hidden;
}

/*==========================  HEADER  ===============================*/
body {
    position: relative;
    line-height: 1;
    word-break: keep-all;
}


.wrap {
    position: relative;
}

.header {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid rgb(217, 217, 217);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
}

.header .header-inner {
    position: relative;
    width: 100%;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {}

.header .logo a {
    display: block;

    width: 147px;

    height: 42px;
}

.header .nav {
    width: calc(100% - 147px);
}

.header .nav {}

.header .nav .navbar li {
    cursor: pointer;
}

.header .nav .navbar li>span:hover {
    color: rgb(76, 200, 202);
    position: relative;
}

.header .nav .navmenu {
    display: none;
}

.header .nav .navmenu li {
    cursor: pointer;
}

.header .nav-icon {
    width: 24px;
    cursor: pointer;
    z-index: 100;
    transform: translateY(-50%);
}

.header .nav-icon>span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.header .nav-icon {
    display: inline-block;
    width: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 100;
    transform: translateY(-50%);
}

.header .nav-icon::before,
.header .nav-icon span,
.header .nav-icon::after {
    background-color: rgb(255, 255, 255);
    content: "";
    display: block;
    height: 2px;
    margin: 5px 0px;
    transition: all 0.2s ease-in-out 0s;
}

.header .nav-icon::before {
    margin-top: 0px;
}

.header .nav-icon::after {
    margin-bottom: 0px;
}

.header .nav-icon:hover>span {
    border-top-color: rgb(76, 200, 202);
}

.header .nav-icon:hover>span {
    border-top-color: rgb(76, 200, 202);
}

.header .nav-icon.active::before {
    transform: translateY(8px) rotate(135deg);
}

.header .nav-icon.active::before {
    transform: translateY(8px) rotate(135deg);
}

.header .nav-icon.active::after {
    transform: translateY(-6px) rotate(-135deg);
}

.header .nav-icon.active span {
    transform: scale(0);
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    background-color: rgb(11 200 194);
    z-index: 200;
}

.nav-mobile.active {
    display: block;
}

.nav-mobile .nav-moCont li {
    cursor: pointer;
    padding: 30px;
    color: rgb(255, 255, 255);
}

.nav-mobile .nav-moCont li:hover {
    background-color: #189292;
}

.nav-mobile .nav-moCont li span {
    color: rgb(255, 255, 255);
}

span.mobile_br {
    display: block;
}

span.mobile_br2 {
    display: block;
}



.header .header-inner {
    max-width: 1400px;
    margin: 0px auto;
    height: 97px;
}

.header .nav {
    display: block;
    width: calc(100% - 134px);
}

.header .nav .navmenu {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header .nav .navmenu li {
    font-size: 19px;
    padding-right: 68px;
}

.header .nav .navmenu li>span:hover::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgb(76, 200, 202);
}

.header .nav .navmenu li>span.active {
    color: rgb(76, 200, 202);
    position: relative;
}

.header .nav .navmenu li>span.active::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgb(76, 200, 202);
}

/* 
  .header .nav-icon {
    display: none;
  } */

.header {
    width: 100%;
    position: fixed;
}

.header .header-inner {
    max-width: 1400px;
    margin: 0px auto;
    height: 97px;
}

.header .logo {
    width: 147px;
}

span.mobile_br {
    display: inline-block;
}









.inner {
    position: relative;
    max-width: 1488px;
    margin: 0 auto;
    padding: 0 calc(100vw*(100/1400));
}


.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ee6c4d;
    transform: translate(-50%, -50%);
}

.section {
    padding: 3rem 0;
}

@media screen and (min-width: 1200px) {
    .section {
        padding: 12rem 0;
    }
}


/* sub */
.sub-container {
    margin-top: 80px;
}




.main_header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #000;
    z-index: 200;

}

.header-inner {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(100vw*(100/1400));
    z-index: 9999;
}



.header-inner .logo a {
    font-size: 30px;
}



.header-over {
    display: none;
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;

}



.header-over .bg-area::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0%);
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header-over .bg-area::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: #000;
    background-position: 90% 90%;
    width: 100%;
    margin-right: 10%;

}








.contact-list li {
    font-size: 21px;
    padding: 2rem 0;
}

.header-over .open-nav-wrap .nav-inner .info-wrap {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-start;
    max-width: 50%;
    margin-top: 0;
    padding-bottom: 30px;

}

@media screen and (min-width:992px) {
    .header-over .open-nav-wrap .nav-inner {
        flex-direction: row;
    }

    .header-over .open-nav-wrap .nav-inner .info-wrap {
        justify-content: center;
    }
}


.header-over .open-nav-wrap .nav-inner .info-wrap .contact-list i {
    display: inline-block;
    font-size: 35px;
    cursor: pointer;
    vertical-align: middle;
    padding-right: 20px;
    width: 45px;

}



html.active {}

.main_header.active {
    background-color: #000;
}

.header-over.active {
    display: block;
}