@charset "utf-8";
#wrap {
    position: relative;
    overflow: hidden;
}



.inner{
    position: relative;
    max-width: 1488px;
    margin: 0 auto;
    padding: 0 calc(100vw*(100/1400));
}

@media screen and (min-width: 1500px){
    .inner{
        padding: 0;
    }
     
}



.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ee6c4d;
    transform: translate(-50%, -50%);
}

.section{
    padding: 3rem 0;
}

@media screen and (min-width: 1200px){
    .section{
        padding: 12rem 0;
    }
}


/* sub */
.sub-container{
    margin-top: 80px;
}




.main_header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #000;
    z-index: 200;
   
}

.header-inner {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(100vw*(100/1400));
    z-index: 9999;
}

@media screen and (min-width: 1500px){

    .header-inner {
        padding:0;
    }

}


.header-inner .logo a{
    font-size:30px;
}

.header-toggle{
    width:24px;
    height: 24px;
    margin-right: 4px;
}

.header-toggle a{
position: relative;
display: block;
width: 100%;
height: 100%;
}


.header-toggle a > span{
    position: absolute;
    width:100%;
    height: 2px;
    border-top:1px solid #fff;
    transition: .3s;
}
    
.header-toggle a > span:nth-child(1){
    top:4px;
}

.header-toggle a > span:nth-child(2){
    top:10px;
}
.header-toggle a > span:nth-child(3){
    bottom:5px;
}

.header-over{
    display: none;
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
  
}



.header-over .bg-area::before{
    content: ''; 
    position: absolute;
    top: 0; 
    right: 0;  
    width: 100%; 
    height: 100%; 
    transform: translateY(0%); 
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.header-over .bg-area::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: #000;
    background-position: 90% 90%;
    width: 100%;
    margin-right: 10%;
    
    }



.header-over .open-nav-wrap {
position: relative;
max-width: 1400px;
margin: 0 auto;
padding-top: 8rem;

}

.header-over .open-nav-wrap .nav-inner{
  
    position: relative;
    display: flex;
    flex-direction: column;
    
    padding: 9vh 30px 50px;
    height: calc(100% - 58px);
    max-width: 1400px;
    margin: 0 auto;
    padding: calc(100vw*(100/1400));
    

/* background: #000; */
}

@media screen and (min-width: 1500px){
    .header-over .open-nav-wrap .nav-inner{
        padding-left:0;
    }
}
@media screen and (min-width: 1024px){

    .header-over .open-nav-wrap .nav-inner{
        flex-direction: row;
    }



}


.menu-list { 
    padding-bottom: 4rem;
}

.menu-list a{
    position: relative;
    display: inline-block;
   
}
.menu-list a::after{
position: absolute;
    bottom: 0px;
    left: -1px;
    content: '';
    display: block;
    width: 0;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    transition: width .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}



.menu-list:hover > a::after {width: calc(100% + 2px);}




.contact-list li{
    font-size: 21px;
    padding: 2rem 0;
}
/* @media screen and (min-width: 992px){
.header-over .open-nav-wrap .nav-inner{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    top: auto;
    width: 70vw;
    max-width: 1190px;
    height: auto;
    
}
} */


.header-over .open-nav-wrap .nav-inner .info-wrap{
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-start;
    max-width: 50%;
    margin-top: 0;
    padding-bottom: 30px;
    
}

@media screen and (min-width:992px){
    .header-over .open-nav-wrap .nav-inner{flex-direction: row;}
    .header-over .open-nav-wrap .nav-inner .info-wrap{justify-content: center;}
}


.header-over .open-nav-wrap .nav-inner .info-wrap .contact-list i{
    display: inline-block;
    font-size: 35px;
    cursor: pointer;
    vertical-align: middle;
    padding-right: 20px;
    width: 45px;
    
}



html.active {
    
}

.main_header.active{
    background-color: #000;
}

.header-over.active{
    display: block;
}

.main_header.active .header-toggle > a > span {
    border-top-color: #fff;
}
.main_header.active .header-toggle > a > span:nth-child(1) {
    top: -10px; transform: translateY(20px) rotate(-45deg);
}
.main_header.active .header-toggle > a > span:nth-child(2) {
    opacity: 0;}
.main_header.active .header-toggle > a > span:nth-child(3) {bottom: -9px; transform: translateY(-20px) rotate(45deg)}


